<a href="/about/">Back to Home</a>

<table style="margin-top:20px; width:100%; text-align: center; background-color: blue; line-height: 30px; outline-color: black; outline-style: dotted; outline-width: 12px;">
    <th>Fullname</th>
    <th>Level</th>
    <th>Department</th>
    <th>Gender</th>
    <tr>
        <td>Nathaniel Obidike</td>
        <td>400</td>
        <td>Medical Science</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Flourish Abigail</td>
        <td> 100 </td>
        <td>Geology</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Udogeri Ndukwe</td>
        <td>300</td>
        <td>Agricultural Sciences</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Cahrity Anunibe</td>
        <td>100</td>
        <td>Computer Sciences</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Solomon Chinedu</td>
        <td>200</td>
        <td>Electrical Engineering</td>
        <td>Male</td>
    </tr>
</table>