<h1>COURSES</h1>


<a href="/about/">Back to Home</a>

<table style="margin-top:20px; width:100%; text-align: center; background-color: blue; line-height: 30px; outline-color: black; outline-style: dotted; outline-width: 12px;">
    <th>Code</th>
    <th>Title</th>
    <th>Units</th>
    <th>Type</th>
    <tr>
        <td>CSC 101</td>
        <td>Introduction to Programming</td>
        <td>3</td>
        <td>Compulsory</td>
    </tr>
    <tr>
        <td>GST 113</td>
        <td>African Ethics</td>
        <td>2</td>
        <td>Elective</td>
    </tr>
    <tr>
        <td>FSC 105</td>
        <td>Introduction to Biology</td>
        <td>3</td>
        <td>Compulsory</td>
    </tr>
    <tr>
        <td>MAT 101</td>
        <td>Linear Mathematics</td>
        <td>3</td>
        <td>Elective</td>
    </tr>
    <tr>
        <td>CSC 103</td>
        <td>Introduction to Django</td>
        <td>3</td>
        <td>Compulsory</td>
    </tr>
</table>